<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800&display=swap');
</style>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
<title>tellmail</title>

</head>
<body yahoo="fix" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!--Main Table Start-->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f0f3f8">
  <tr>
    <td align="center" valign="top">   
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
		  <tr>
			<td align="center" valign="top"><table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="two-left-inner">
			  <tr>
				<td height="60" align="center" valign="top" style="font-size:60px; line-height:60px;">&nbsp;</td>
			  </tr>
			</table></td>
		  </tr>
		</table>		
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top">
				<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
				  <tr>
					<td align="center" valign="top" style="background:#FFF;">
					<table width="600" border="0" cellspacing="0" cellpadding="0" class="two-left-inner">
					  <tr>
					   <td height="20" align="center" valign="top">&nbsp;</td>
					  </tr>
					  <tr>
						<td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td width="100" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="100" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="100" align="left" valign="center"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="center" style="font-family:'Poppins', sans-serif, Verdana; font-size:34px; color:#000;font-weight:bold; padding:5px;" valign="top">
											<img mc:edit="tm-01" editable="true" src="https://test.takneek.in/wp-content/uploads/2022/05/slogo.png" width="100" height="100" alt="" /></a>
											</td>
										  </tr>
										  <tr>
											<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
										  </tr>
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
							<td width="500" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="500" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="500" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="left" style="font-family:'Poppins', sans-serif, Verdana; font-size:34px; color:#000;font-weight:bold;padding:5px;" valign="top">
												<%= school %></br>
											<span style="font-family:'Poppins', Verdana, Arial; font-size:16px; color:#121212; font-weight:normal;"><%= address %></span>
											</td>
										  </tr>
										  <tr>
											<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
										  </tr>										  
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
							</tr>
						</table>
						</td>
					  </tr>
					</table></td>
				  </tr>
				</table></td>
			</tr>
		</table>

		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top">
				<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
				  <tr>
					<td align="center" valign="top" style="background:#FFF;">
					<table width="600" border="0" cellspacing="0" cellpadding="0" class="two-left-inner">
					  <tr>
					   <td height="20" align="center" valign="top">&nbsp;</td>
					  </tr>
					  <tr>
						<td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td width="300" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="300" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="280" align="left" valign="center"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="left" style="font-family:'Poppins', Verdana, Arial;font-size:16px; font-weight:bold; color:#242322;">Fee Receipt<span style="font-family:'Poppins', Verdana, Arial; font-weight:normal;font-size:16px; color:#242322;"> <%= receipt %></span>
											</td>
										  </tr>
										  <tr>
											<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
										  </tr>
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
							<td width="300" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="280" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="200" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="right" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:16px; font-weight:bold; color:#242322;"><%= date %></td>
										  </tr>
										  
										  <tr>
											<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
										  </tr>										  
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
							</tr>
						</table>
						</td>
					  </tr>
					</table></td>
				  </tr>
				</table></td>
			</tr>
		</table>

		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top">
				<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
				  <tr>
					<td align="center" valign="top" style="background:#FFF;">
					<table width="600" border="0" cellspacing="0" cellpadding="0" class="two-left-inner">
					  <tr>
					   <td height="20" align="center" valign="top">&nbsp;</td>
					  </tr>
					  <tr>
						<td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td width="160" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="150" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="140" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:16px; font-weight:bold; color:#242322;">Paid For</td>
										  </tr>
										  <tr>
											<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
										  </tr>
										  <tr>
											 <td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:14px; font-weight:normal; color:#666; line-height:24px;"><%= name %></td>
										  </tr>
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
							<td width="160" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="150" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="140" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:16px; font-weight:bold; color:#242322;">Category</td>
										  </tr>
										  <tr>
											<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
										  </tr>
										  <tr>
											 <td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:14px; font-weight:normal; color:#666; line-height:24px;"><%= category %></td>
										  </tr>
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
							<td width="160" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="150" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="140" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:16px; font-weight:bold; color:#242322;">Amount Paid</td>
										  </tr>
										  <tr>
											<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
										  </tr>
										  <tr>
											 <td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:14px; font-weight:normal; color:#666; line-height:24px;"><%= amountpaid %></td>
										  </tr>
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
							<td width="160" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="150" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="140" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:16px; font-weight:bold; color:#242322;">Remaining</td>
										  </tr>
										  <tr>
											<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
										  </tr>
										  <tr>
											 <td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:14px; font-weight:normal; color:#666; line-height:24px;"><%= remaining %></td>
										  </tr>
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
						  </tr>
						</table></td>
					  </tr>
					</table></td>
				  </tr>
				</table></td>
			</tr>
		</table>
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top">
				<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
				  <tr>
					<td align="center" valign="top" style="background:#FFF;">
					<table width="600" border="0" cellspacing="0" cellpadding="0" class="two-left-inner">
					  <tr>
					   <td height="20" align="center" valign="top">&nbsp;</td>
					  </tr>
					  <tr>
						<td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td width="200" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="180" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="150" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:16px; font-weight:bold; color:#242322;">No.</td>
										  </tr>
										  <% for(var i = 0; i < data.length; i++) { %> 

											<tr>
												<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
											  </tr>
											  <tr>
												<td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:14px; font-weight:normal; color:#666; line-height:24px;"><%= data[i].number %></td>
											 </tr>
								  		<% } %>
										<tr>
											<td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:16px; font-weight:bold; color:#242322;">Total</td>
										</tr>
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
							<td width="200" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="180" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="150" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:16px; font-weight:bold; color:#242322;">Description</td>
										  </tr>
										  <% for(var i = 0; i < data.length; i++) { %> 
											<tr>
												<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
											  </tr>
											  <tr>
												<td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:14px; font-weight:normal; color:#666; line-height:24px;"><%= data[i].description %></td>
											 </tr>
								  		<% } %>
										 <tr>
											
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
							<td width="200" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="180" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="150" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:16px; font-weight:bold; color:#242322;">Fees in Amount</td>
										  </tr>
										  <% for(var i = 0; i < data.length; i++) { %> 
											<tr>
												<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
											  </tr>
											  <tr>
												 <td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:14px; font-weight:normal; color:#666; line-height:24px;"><%= data[i].fee %></td>
											  </tr> 
								  		<% } %>
										  
										  <tr>
											<td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:16px; font-weight:bold; color:#242322;"><%= totalAmount %></td>
										  </tr>
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
						  </tr>
						</table>
						</td>
					  </tr>
					</table></td>
				  </tr>
				</table></td>
			</tr>
		</table>
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top">
				<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
				  <tr>
					<td align="center" valign="top" style="background:#FFF;">
					<table width="600" border="0" cellspacing="0" cellpadding="0" class="two-left-inner">
					  <tr>
					   <td height="20" align="center" valign="top">&nbsp;</td>
					  </tr>
					  <tr>
						<td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td width="300" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="280" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="250" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:16px; font-weight:bold; color:#242322;">Signature</td>
										  </tr>
										  <tr>
											<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
										  </tr>										  
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
							<td width="300" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="280" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="200" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:16px; font-weight:bold; color:#242322;">_____________________</td>
										  </tr>
										  <tr>
											<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
										  </tr>										  
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
							</tr>
						</table>
						</td>
					  </tr>
					</table></td>
				  </tr>
				</table></td>
			</tr>
		</table>
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top">
				<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
				  <tr>
					<td align="center" valign="top" style="background:#FFF;">
					<table width="600" border="0" cellspacing="0" cellpadding="0" class="two-left-inner">
					  <tr>
					   <td height="20" align="center" valign="top">&nbsp;</td>
					  </tr>
					  <tr>
						<td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td width="300" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="280" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="250" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:26px; font-weight:bold; color:#242322;">Scan this QR Code</td>
										  </tr>
										  <tr>
											<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
										  </tr>
										<tr>
											 <td align="left" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:14px; font-weight:normal; color:#666; line-height:24px;">To visit Inforida.com and get better
insights</td>
										  </tr>
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
							<td width="300" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="280" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="200" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="right" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:16px; font-weight:bold; color:#242322;"><img mc:edit="tm-01" editable="true" src="https://test.takneek.in/wp-content/uploads/2022/05/inforida.png" width="100" height="100" alt="" /></a></td>
										  </tr>
										  <tr>
											<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
										  </tr>										  
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
							</tr>
						</table>
						</td>
					  </tr>
					</table></td>
				  </tr>
				</table></td>
			</tr>
		</table>
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top">
				<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
				  <tr>
					<td align="center" valign="top" style="background:#FFF;">
					<table width="600" border="0" cellspacing="0" cellpadding="0" class="two-left-inner">
					  <tr>
					   <td height="20" align="center" valign="top">&nbsp;</td>
					  </tr>
					  <tr>
						<td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td width="300" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="300" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="280" align="left" valign="center"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="left" style="font-family:'Poppins', Verdana, Arial;font-size:12px; font-weight:bold; color:#242322;">Powered By<img src="https://inforida.com/assets/images/logo.png" style="margin-left:5px;width: 55px;border: 2px solid #d1d1d1;border-radius: 30px; vertical-align: bottom;" alt="" /></td>
										  </tr>
										  <tr>
											<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
										  </tr>
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
							<td width="300" align="left" valign="top" class="two-left">
							<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
							  <tr>
								<td align="left" valign="top">
									<table width="280" border="0" align="left" cellpadding="0" cellspacing="0">
									  <tr>									
										<td width="200" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
										  <tr>
											<td align="right" valign="top" style="font-family:'Poppins', Verdana, Arial; font-size:16px;  color:#242322;">4th April 2021 02:17 PM | Page 1 of 1</td>
										  </tr>
										  <tr>
											<td height="5" align="left" valign="top" style="font-size:5px; line-height:5px;">&nbsp;</td>
										  </tr>										  
										</table></td>
									  </tr>
									</table>
								</td>
								</tr>						 
							  <tr>
								<td align="left" valign="top">&nbsp;</td>
							  </tr>
							</table>
							</td>
							</tr>
						</table>
						</td>
					  </tr>
					</table></td>
				  </tr>
				</table></td>
			</tr>
		</table>

    </td>
  </tr>
</table>

<!--Main Table End-->

</body>
</html>
